@{
    ViewBag.Title = "Top";
}

<div id="divTopPage">
    <div id="divSearchPart" class="topPart">
        <div id="divTopSearch" class="rd10">
            <input type="text" class="rd5" placeholder="" title="点击回车搜索" id="txtTopSearch" />
            <img id="btnSearchPages" src="~/Content/images/search.png" class="cp" />
        </div>
    </div>
    <div id="divHeadPart" class="topPart">
        <div id="divIndex" onclick="location.href='/';">CodeTool</div>
        <img id="btnTopSearch" src="~/Content/images/search.png" class="cp" />
    </div>
    <div id="divTitlePart" class="topPart"><div class="divTitleText cp"></div></div>
</div>

