@{
    ViewBag.Title = "Top";
}

<div id="divTopPage">
    <div id="divHeadPart">
        <div id="divIndex" onclick="javascript:location.href='/';">CodeTool</div>
        <div id="divTopSearch">
            <input type="text" placeholder="输入所要进入的功能" title="点击回车搜索" class="rd5" id="txtTopSearch" />
        </div>
    </div>
    <div id="divTitlePart"><div class="divTitleText cp"></div></div>
</div>

