@{
    Layout = "~/Views/Shared/MasterPage.cshtml";
    ViewBag.Title = "FormSubmit";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Welcome</title>
</head>
<body>
    <form method="post" id="Employee_Login" action="http://pay.fang.com/yeepay/gateway.aspx">
        <input type="hidden" name="product" value="" />
        <input type="hidden" name="p" value="" />
    </form>
    <form method="post" id="closeorder" action="http://pay.fang.com/GateWay.aspx">
        <input type="hidden" name="Key" value="pacb0wgrkaw6aklwn4ttpemwz35yifj2jmy4nadh3d23gjm3uef1a0bkxpl5zqjez3xwvqin1mzmlrqprbedar1sknh7yhqm3yemuyid41axay8f84nxmfeicflhjkx2" />
        <input type="hidden" name="Product" value="9" />
        <input type="hidden" name="OrderId" value="" />
        <input type="hidden" name="ServiceName" value="closeorder" />
    </form>
    <form method="post" id="query_app_version_info" action="http://pay.fang.com/GateAppPage/query_app_version_info.aspx">
        <input type="hidden" name="sn" value="DEL172882828" />
        <input type="hidden" name="time" value="2017-03-09 17:00:00" />
        <input type="hidden" name="servicename" value="query_app_version_info" />
        <input type="hidden" name="clienttype" value="lakala" />
        <input type="hidden" name="sign" value="pacb0wgrkaw6aklwn4ttpemwz35yifj2jmy4nadh3d23gjm3uef1a0bkxpl5zqjez3xwvqin1mzmlrqprbedar1sknh7yhqm3yemuyid41axay8f84nxmfeicflhjkx2" />
    </form>
    <form method="get" id="paymentconfirm" action="http://pay.fang.com/GateWayPage/paymentconfirm.aspx">
        <input type="hidden" name="ServiceName" value="paymentconfirm" />
        <input type="hidden" name="Product" value="9" />
        <input type="hidden" name="key" value="pacb0wgrkaw6aklwn4ttpemwz35yifj2jmy4nadh3d23gjm3uef1a0bkxpl5zqjez3xwvqin1mzmlrqprbedar1sknh7yhqm3yemuyid41axay8f84nxmfeicflhjkx2" />
        <input type="hidden" name="orderid" value="8749283749812734" />
    </form>
    <form method="post" id="form2" action="https://124.74.143.162:15023/thirdpartplatform/scancodpay/9003.dor">
        <input type="hidden" name="FunCod" value="9001" />
        <input type="hidden" name="compOrgCode" value="DLSH" />
        <input type="hidden" name="reqLogNo" value="17022220043184" />
        <input type="hidden" name="reqTm" value="20170303112236" />
        <input type="hidden" name="mercId" value="822290054620192" />
        <input type="hidden" name="txnAmt" value="1.0000" />
        <input type="hidden" name="termId" value="93043377" />
        <input type="hidden" name="ornTxnDate" value="20170222" />
        <input type="hidden" name="orderNo" value="9170222000015657" />
        <input type="hidden" name="MAC" value="2a43dbd7531f8f67e03bac23fd9c1e01b4c52202" />
    </form>
    <form method="post" id="form3" action="https://124.74.143.162:15023/thirdpartplatform/scancodpay/9003.dor">
        <input type="hidden" name="FunCod" value="9003" />
        <input type="hidden" name="compOrgCode" value="WSST" />
        <input type="hidden" name="reqLogNo" value="16122980011002" />
        <input type="hidden" name="reqTm" value="20161228125901" />
        <input type="hidden" name="mercId" value="822221059430010" />
        <input type="hidden" name="termId" value="91002817" />
        <input type="hidden" name="txnAmt" value="200" />
        <input type="hidden" name="ornTxnDate" value="20170302" />
        <input type="hidden" name="orderNo" value="16122980011002" />
        <input type="hidden" name="MAC" value="0000000000000" />
    </form>
    <script type="text/javascript">
        $(function () {
            Employee_LoginSubmit();
            //ajaxPostDataEmtpy();
        });

        function Employee_LoginSubmit() {
            var p = '<?xml+version="1.0"+encoding="UTF-8"?><COD-MS><SessionHead><Version>V1.0</Version><ServiceCode>COD201</ServiceCode><TransactionID>SOUFANCOD201201703174536866447</TransactionID><SrcSysID>yeepay</SrcSysID><DstSysID>SOUFAN</DstSysID><ReqTime>20170317082209</ReqTime><ExtendAtt></ExtendAtt><HMAC>b0d7cfd16395d818f775fd4dcec33466</HMAC></SessionHead><SessionBody><Employee_ID>12345</Employee_ID><Password>827ccb0eea8a706c4c34a16891f84e7b</Password><PosSn>H7NL00673780</PosSn><CustomerNo>10012075953</CustomerNo></SessionBody></COD-MS>;<?xml version="1.0" encoding="UTF-8"?><COD-MS><SessionHead><Version>V1.0</Version><ServiceCode>COD201</ServiceCode><TransactionID>SOUFANCOD201201703174536866447</TransactionID><SrcSysID>yeepay</SrcSysID><DstSysID>SOUFAN</DstSysID><ReqTime>20170317082209</ReqTime><ExtendAtt></ExtendAtt><HMAC>b0d7cfd16395d818f775fd4dcec33466</HMAC></SessionHead><SessionBody><Employee_ID>12345</Employee_ID><Password>827ccb0eea8a706c4c34a16891f84e7b</Password><PosSn>H7NL00673780</PosSn><CustomerNo>10012075953</CustomerNo></SessionBody></COD-MS>';
            $("#Employee_Login input[name=p]").val(escape(p));
            $("#Employee_Login").submit();

        }

        function ajaxPost() {
            $.ajax({
                async: true,
                type: "POST",
                url:
                    "http://pay.fang.com/LakalaPayPlus/PayNotify.aspx?sign=Iosl7%2BcnSSqgT%2Foqf%2BGCSOKt8iens5ysSSen8ANU3jfMDjyhkwINa0ONM5w4LtfudKWxkGNX55sYZa0lHdpbcB0wo03a7eopoaYrGxj7ntdX9pcSRg2yLsi6fhGhJMX%2BklPCX4xIJZZrvkgHCv%2Fad6WaPFa53JcK8M4Nf2rfADI%3D",
                data: {
                    "mch_id": "822290054620192",
                    "device_info": "93043377",
                    "result_code": "FAIL",
                    "trade_type": "012401",
                    "total_fee": "000000000000001",
                    "transaction_id": "17030720083846",
                    "out_trade_no": "9170307000016671",
                    "time_end": "20170307102647",
                    "pay_type": "92",
                    "card_no": "130010********7974",
                    "pay_amt": "000000000000001",
                    "batchbillno": "000001",
                    "systraceno": "000038",
                    "orderid_scan": "",
                    "bank_type": "",
                    "refernumber": "030720083846",
                    "coupon_fee": "",
                    "openid": ""
                },
                success: function (result) {
                    console.log(result);
                }
            });
        }

        function ajaxPostDataEmtpy() {
            $.ajax({
                async: true,
                type: "POST",
                url:
                    "http://pay.fang.com/LakalaPayPlus/PayNotify.aspx",
                data: {
                },
                success: function (result) {
                    console.log(result);
                }
            });
        }

        function ajaxPost1() {
            $.ajax({
                async: true,
                type: "POST",
                url:
                    "http://pay.fang.com/LakalaPayPlus/PayNotify.aspx",
                data: {
                    "data":
                    "{\"mch_id\": \"822290054620192\",\"device_info\": \"93043377\",\"result_code\": \"FAIL\",\"trade_type\": \"012401\",\"total_fee\": \"000000000000001\",\"transaction_id\": \"17030720083846\",\"out_trade_no\": \"9170307000016671\"," +
    "\"time_end\": \"20170307102647\",\"pay_type\": \"92\",\"card_no\": \"130010********7974\",\"pay_amt\": \"000000000000001\",\"batchbillno\": \"000001\",\"systraceno\": \"000038\",\"orderid_scan\": \"\",\"bank_type\": \"\"," +
    "\"refernumber\": \"030720083846\",\"coupon_fee\": \"\",\"openid\": \"\"}",
                    "sign": encodeURIComponent("Iosl7%2BcnSSqgT%2Foqf%2BGCSOKt8iens5ysSSen8ANU3jfMDjyhkwINa0ONM5w4LtfudKWxkGNX55sYZa0lHdpbcB0wo03a7eopoaYrGxj7ntdX9pcSRg2yLsi6fhGhJMX%2BklPCX4xIJZZrvkgHCv%2Fad6WaPFa53JcK8M4Nf2rfADI%3D")
                },
                success: function (result) {
                    console.log(result);
                }
            });
        }
    </script>
</body>
</html>
