@{
    Layout = "~/Views/Shared/MasterPage.cshtml";
    ViewBag.Title = "Main";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Welcome</title>
</head>
<body>
</body>
</html>
