@{
    ViewBag.Title = "Top";
}

<div id="divTopPage">
    <div id="divIndex" onclick="javascript:location.href='/';">CodeTool</div>
    <input type="text" placeholder="输入所要进入的功能" class="rd5" id="txtTopSearch" />
</div>

